In [1]:
import pandas as pd

In [2]:
input_file = 'BankChurners.csv'
cc_data = pd.read_csv(input_file)
cc_data.head(5).style.hide_index()

In [3]:
# The last two columns had names that are too long.  We're going to shorten them to nb1 and nb2 for easier readability.
#  Changing the column names from an index to a list to ease modifications.
column_names = list(cc_data.columns)

# We want to keep the detailed information from the original long names.
nb1_label = column_names[-2]
nb2_label = column_names[-1]

#  Replacing the long names with nb1 and nb2
column_names[-2] = 'nb1'
column_names[-1] = 'nb2'

#  Now renaming the columns on the dataframe itself.
cc_data.columns = pd.Index(column_names)
cc_data.head(5).style.hide_index()

We want to look at the distinct values of each string column (dtype = object).

In [4]:
text_columns = list(cc_data.select_dtypes(include='object').columns)

for col_name in text_columns:
    uniq_col_vals = list(cc_data[col_name].unique())
    num_uniq_col_vals = str(len(uniq_col_vals))
    print("\nThere are " +
          num_uniq_col_vals +
          " number unique values in " +
          col_name +
          ". They are:\n")
    for i in range(int(num_uniq_col_vals)):
        print(uniq_col_vals[i])

There are 2 number unique values in Attrition_Flag. They are:

Existing Customer
Attrited Customer

There are 2 number unique values in Gender. They are:

M
F

There are 7 number unique values in Education_Level. They are:

High School
Graduate
Uneducated
Unknown
College
Post-Graduate
Doctorate

There are 4 number unique values in Marital_Status. They are:

Married
Single
Unknown
Divorced

There are 6 number unique values in Income_Category. They are:

$60K - $80K
Less than $40K
$80K - $120K
$40K - $60K
$120K +
Unknown

There are 4 number unique values in Card_Category. They are:

Blue
Gold
Silver
Platinum